@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montez&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&family=Yesteryear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montez&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&family=Yesteryear&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff7ed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  background-color: #fff7ed;
  padding: 0.7rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: auto;
}

.logo a {
  font-family: "Yesteryear", cursive;
  font-size: 2.3rem;
  color: rgb(182, 23, 63);
  text-decoration: none;
}

.logo a:hover {
  color: (143, 10, 43);
}

.info {
  display: flex;
  gap: 2rem;
  width: 50%;
}

.info p {
  color: rgb(182, 23, 63);
}

.info p {
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.info p:hover {
  color: rgb(143, 10, 43);
}

.info a {
  text-decoration: none;
  color: rgb(182, 23, 63);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.info a:hover {
  color: rgb(143, 10, 43);
}

.line {
  width: 100%;
  height: 3px;
  background-color: rgb(182, 23, 63);
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border: 2px solid rgb(182, 23, 63);
  border-radius: 10px;
  background-color: white;
}

.search:focus-within {
  border-color: rgb(152, 9, 45);
}

.search input {
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 0.9rem;
}

.search button {
  border: none;
  background-color: transparent;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search button i {
  font-size: 20px;
}

.search button:hover i {
  transform: scale(1);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: rgb(182, 23, 63);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
  height: 30px;
}

.dropdown:hover .dropbtn {
  color: rgb(152, 9, 45);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffaf4;
  min-width: 180px;
  border: 1px solid rgb(182, 23, 63);
  border-radius: 6px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: 30px;
  left: 0;
}

.dropdown-content a {
  color: rgb(182, 23, 63);
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  font-size: 0.95rem;
  transition: background-color 0.1s, color 0.1s;
}

.dropdown-content a:hover {
  background-color: rgb(182, 23, 63);
  color: #fff;
  border-radius: 6px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main {
  height: 540px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(255, 177, 177);
}

.main h1 {
  color: white;
  font-weight: 500;
  font-size: 60px;
  font-family: "Playfair Display", serif;
}

.headline {
  width: 50%;
  text-align: center;
}

.footer {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer p {
  color: rgb(182, 23, 63);
  font-size: 13.5px;
}

@keyframes headline-animation {
  0% {
    color: rgb(182, 23, 63);
  }
  25% {
    color: #db5872ff;
  }
  50% {
    color: #ed7986ff;
  }
  75% {
    color: #ff9999ff;
  }
  100% {
    color: rgb(182, 23, 63);
  }
}

.headline h1:hover {
  animation-name: headline-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform: 2s ease-in-out 3s;
  animation-play-state: running;
  transition: transform 2s ease-in-out;
  animation-direction: forwards;
}

.headline {
  position: relative;
  padding: 20px 40px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background 0.3s ease;
}

.strawberry {
  position: absolute;
  width: 40px;
  animation: pop 0.7s ease forwards;
  pointer-events: none;
}

@keyframes pop {
  0% {
    transform: translateY(0) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translateY(-80px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(-120px) scale(0.9);
    opacity: 0;
  }
}

.login-dropdown {
  position: relative;
  display: inline-block;
}

.login-dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffaf4;
  min-width: 130px;
  border: 1px solid rgb(182, 23, 63);
  border-radius: 6px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: 30px;
  left: 0;
}

.login-dropdown-content a {
  padding: 10px;
}

.login-dropdown-content a:hover {
  background-color: rgb(182, 23, 63);
  color: #fff;
  border-radius: 6px;
}

.login-dropdown:hover .login-dropdown-content {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.login-dropdown:hover {
  color: rgb(152, 9, 45);
}

.desserts {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 480vh;
  gap: 50px;
}

.meal_div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 270px;
  width: 250px;
  background-color: rgb(255, 255, 255);
}

.meal_div button {
  margin-top: 70px;
}

.meal_div img {
  height: 130px;
  width: 130px;
}

button {
  width: 100%;
  padding: 0.55rem;
  background-color: rgb(182, 23, 63);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

#logout {
  width: 100px;
}

button:hover {
  background-color: rgb(162, 18, 54);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}
